/* applies to the header of this html. */

header {
    margin: 0em 0em;
    padding: 0em 0em;
}

button {
    cursor: pointer;
}

.panel,
.panel1 {
    background-color: rgb(229, 224, 238);
    display: none;
    transition: max-height 0.5s ease-out;
    padding: 1em;
    color: rgb(27, 4, 43);
}


/* .panel {} */


/* Div block containing students forms */

#student_block {
    margin: 0em 0em;
    flex: 6;
}


/* this rules applies to the savvy block */

#savvy_block {
    font-size: 1em;
    flex: 6;
}


/* this code applies to the login content page */

#login_content {
    /* margin: 0em auto; */
    font-size: 1em;
    display: flex;
    /* flex-direction: row; */
    z-index: 1000000000;
}


/* add media query */


/* @media screen ma {
    
} */