.info {
    clear: both;
    padding: .5em;
}

img {
    width: 20%;
    padding: 0em;
    margin: 0em;
}

#search_gr {
    margin: 3em auto;
}

.comment {
    margin: 0em;
    padding: 0em;
}

input[type="submit"],
#com_btn {
    color: white;
    background-color: rgb(27, 4, 43);
}

input[type="submit"]:hover,
#com_btn:hover {
    color: rgb(27, 4, 43);
    background-color: rgb( 255, 133, 4);
}

#usr_com {
    width: 70%
}


/* /////////////////////////////////// */

.type {
    float: right;
    padding: .01em 1em;
    font-size: 1em;
    color: rgb( 255, 255, 255);
    background-color: rgb(27, 4, 43);
    margin: 0em;
    border-top-right-radius: .4em;
    /* border-top-left-radius: 1.5em; */
}

#main_details div {
    /* display: inline; */
    margin: .5em 0em;
}

#main_details {
    margin: 0em;
}

#main_details #main_desc {
    /* background-color: blueviolet; */
    padding: 0em;
}

#main_details {
    /* background-color: blueviolet; */
    padding: 0em;
}


/* this applies to the div with the name of the project */

.main_name {
    font-weight: bold;
}

#main_img {
    text-align: center;
}


/* this applies to the div that holds individual projects */

.show_project {
    margin: 3em auto;
    /* padding: 0em; */
}


/* table mobile.................... */

@media ( max-width: 770px) {
    img {
        width: 50%;
        height: 10em;
        /* height: auto; */
    }
    #main_img {
        /* margin: 10px auto; */
        text-align: left;
    }
}

#main_img {
    /* margin: 10px auto; */
    text-align: left;
}