* {
    padding: 0em;
    margin: 0em;
    box-sizing: border-box;
}


/* this applies to the every pages body. */

body {
    background-color: rgb(229, 224, 238);
    height: 100vh;
    position: relative;
    padding-bottom: 0;
    margin-bottom: 0;
    z-index: -1;
}

h2 {
    margin: 1em 0em;
}

#err_conn {
    color: red;
    font-weight: bold;
}


/* upload project page */

#up_project {
    border: 1px solid black;
    border-radius: 1em;
    margin: 1.5em auto;
}


/* this is used to delete user account */

#del_usr_acc {
    border: 1px solid rgb(27, 4, 43);
    border-radius: 1em;
    margin: 2em auto;
}


/* all btns in input-group */

.input-group button,
.input-group button a {
    background-color: rgb(27, 4, 43);
    font-weight: bold;
    color: rgb( 255, 255, 255);
}


/* hover input-group button */

.input-group button a:hover,
.input-group button:hover {
    background-color: rgb(255, 133, 4);
    color: rgb( 27, 4, 43);
}


/* student update page with form. */

#stu_up_prof {
    border: 1px solid rgb(27, 4, 43);
    border-radius: 1em;
    margin: 2em auto;
}


/* this applies to students projects. */

#usr_pro {
    z-index: -1000000;
}


/* this applies to the title of pages */

title {
    text-transform: capitalize;
}


/* this applies to div holding message from .php after uploading a project */

#pro_up_msg {
    margin: 2em auto;
    text-align: center;
}


/* this applies to divs that hold team information. */

.info {
    border: 1px solid;
    clear: both;
    padding: .5em;
}


/* remove every default styling applied by the browser. */

* {
    box-sizing: border-box;
    padding: 0em;
    margin: 0em;
}

.container-fluid {
    margin: 0em;
    padding: 0em;
}


/* this applies to the header html element.  */

header {
    padding: 0em;
    margin: 0em;
    background-color: rgb(27, 4, 43);
}

#header div {
    display: inline;
    padding: 0em;
    margin: 0em
}

#nav_mobile {
    background-color: rgb(27, 4, 43);
}


/* make all anchor tags in header and footer to have white colors */

header a {
    color: rgb( 255, 255, 255);
}

a {
    text-decoration: none;
}

#nav-drop-down {
    display: none;
}

#mobile_drop_menu li {
    /* display: block; */
    padding: auto;
}

#menu_btn {
    /* background-color: ; */
    padding: .1em;
    margin: 0em .5em;
    font-size: 1.7em;
}

.bar #menu_btn {
    display: none;
}


/* this applies to the remove btn in the search bar field */

#search_remove {
    color: white;
}


/* this appplies to anchors in the div, savvy page. */

.div_btn a {
    color: rgb( 255, 255, 255);
}


/* this make all submit button to have a color set of the same */

.div_btn,
input[type="submit"],
input[type="reset"],
#search_btn,
#search_remove {
    color: white;
    background-color: rgb(27, 4, 43);
    font-weight: bold;
}


/* this applies to the div on the delete project */

#del_savvy {
    text-align: center;
}


/* div_btn are anchor in divs, savvy page. */

.div_btn {
    margin: .2em 0em;
}


/* when someone hover over the btn */

.div_btn a:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
#search_btn:hover,
#search_remove:hover {
    color: rgb(27, 4, 43);
    background-color: rgb(255, 133, 4);
}


/* this applies to the input-group-text from bootstrap, to align text to the left, cause it currently aligns by the center */

.input-group-text {
    text-align: left;
}


/* this applies to all buttons */

button {
    background-color: rgb(27, 4, 43);
    color: rgb( 255, 255, 255);
}


/* when btn is hovered */

button:hover {
    background-color: rgb(255, 133, 4);
    color: rgb(27, 4, 43)
}


/* this code applies to every div that has project description */

.main_desc {
    padding: .5em;
}


/* //////////////////////////////////////////////// */

div {
    margin: .5em .1em;
}

#reg_form {
    margin: 3em;
    display: none;
}


/* this applies to all divs that have message in them */

.messages {
    text-align: center;
}


/* this code applies to any span that has error class */

.error {
    color: red;
    text-align: center;
}


/* this applies to any element that has class success */

.success {
    color: green;
    text-align: center;
}


/* this applies to the footer element of html */

footer {
    background-color: rgb(27, 4, 43);
    padding: 2em 2em;
    position: fixed;
    bottom: 0em;
    left: 0em;
    right: 0em;
    margin-top: 1em;
    z-index: -1;
}


/* this applies to the div element holding user data */

#savvy_profile {
    border-radius: .5em;
    border: .1em solid rgb(27, 4, 43);
    margin: 4em auto;
    padding: .7em .5em;
}


/* this applies to div that are inside footer */

footer div {
    margin: 1em;
}


/* the navigation for mobile html code */

#nav_mobile {
    padding: auto;
    text-align: right;
    margin: .1em .4em;
    width: 50%;
    /* float: right; */
    position: absolute;
    right: 0em;
    /* border-radius: .6em; */
}

.wrap {
    height: 100vh;
    width: 100%;
    /* background: red; */
    position: fixed;
    z-index: -1000000000000;
}


/* the divs that are in the mobile version of the menu */

#nav_mobile div {
    margin: 0em;
}


/* this works for social media id. or the div that have social medias */

#social_med {
    padding: auto;
    text-align: center;
    font-size: 2em;
}


/* this applies to anchor in footer social media section. */

#social_med a,
#footer_details a {
    color: rgb( 255, 255, 255);
}

#social_med a:hover,
#social_med a:active,
#footer_details a:hover,
#footer_details a:active {
    color: rgb(255, 133, 4);
}


/* this applies to spans in the social media div */

#social_med span {
    margin: .6em;
}

#student_profile p {
    margin: .5em auto .7em auto;
}


/* this applies to individual user projects */

.usr_proj {
    padding: 1em;
}


/* this applies to all anchors that are under user project */

.usr_proj a {
    color: rgb(27, 4, 43);
}

.usr_proj a:hover {
    color: rgb(255, 133, 4);
}


/* applies to validate form before deleting a project */

#validate_usr {
    margin: 4em auto;
    /* text-align: center; */
}


/* this rules applies to student profile information */

.usr_proj,
#savvy_profile,
#student_profile,
#team_form {
    margin: 1em auto;
    box-shadow: .1em .1em .5em rgb(27, 4, 43);
    padding: .8em 1em;
    border-radius: 1em;
}


/* this rules applies to the footer details. */

#footer_details {
    padding: auto;
    text-align: center;
}


/* this applies to spans in the footer details */

#footer_details span {
    justify-content: space-between;
}


/* contact us page */

#contactus {
    border: 2px solid black;
    text-align: left;
    padding-left: 10px;
    width: 80%;
}


/* about us page */

#aboutus {
    border: 2px solid black;
    text-align: left;
    width: 80%;
    padding-left: 10px;
}


/* this rules applies to main page search function. */

#mainp_search_gr {
    margin: 0em auto;
    text-align: center;
}


/* Media query, applies when the screen is less than 576 
this applies to mobile devices. */

@media (min-width: 20em) and ( max-width: 30em) {
    #nav-link-bs {
        /* display: none; */
        font-size: 1em;
    }
    .bar {
        display: flex !important;
        justify-content: space-between;
    }
    .bar #menu_btn {
        display: block;
    }
    #savvy_block,
    #student_block {
        flex: 12;
        /* display: block; */
    }
}


/* this applies to big mobile devices and small tables. */

@media (min-width: 30.1em) and (max-width: 47.9em) {
    /* CSS */
}


/* this applies to tablets. */

@media (min-width: 48em) and (max-width: 61.9em) {
    /* CSS */
}


/* this applies to laptops and big screens  */

@media (min-width: 62em) {
    /* CSS */
}


/* @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {} */