* {
    padding: 0em;
    margin: 0em;
    box-sizing: border-box;
}

#err_conn {
    color: red;
    font-weight: bold;
}


/* this applies to the title of pages */

title {
    text-transform: capitalize;
}


/* this applies to div holding message from .php after uploading a project */

#pro_up_msg {
    margin: 2em auto;
    text-align: center;
}


/* remove every default styling applied by the browser. */

* {
    box-sizing: border-box;
    padding: 0em;
    margin: 0em;
}

.container-fluid {
    margin: 0em;
    padding: 0em;
}

header {
    padding: 0em;
    margin: 0em;
}

#header div {
    display: inline;
    padding: 0em;
    margin: 0em
}

a {
    text-decoration: none;
}

#nav-drop-down {
    display: none;
}

#mobile_drop_menu li {
    /* display: block; */
    padding: auto;
}

#menu_btn {
    /* background-color: ; */
    padding: .1em;
    margin: 0em .5em;
    font-size: 1.7em;
}

.bar #menu_btn {
    display: none;
}


/* this applies to the remove btn in the search bar field */

#search_remove {
    color: white;
}


/* this make all submit button to have a color set of the same */

input[type="submit"],
input[type="reset"],
#search_btn,
#search_remove {
    color: white;
    background-color: rgb(27, 4, 43);
    font-weight: bold;
}


/* this applies to the div on the delete project */

#del_savvy {
    text-align: center;
}


/* when someone hover over the btn */

input[type="submit"]:hover,
input[type="reset"]:hover,
#search_btn:hover,
#search_remove:hover {
    color: rgb(27, 4, 43);
    /* color: white; */
    background-color: rgb(238, 130, 48);
    /* font-weight: bold; */
}


/* this applies to the input-group-text from bootstrap, to align text to the left, cause it currently aligns by the center */

.input-group-text {
    text-align: left;
}


/* this applies to all buttons */

button {
    background-color: rgb(27, 4, 43);
    color: rgb( 255, 255, 255);
}


/* when btn is hovered */

button:hover {
    background-color: rgb(238, 130, 48);
    color: rgb(27, 4, 43)
}


/* //////////////////////////////////////////////// */

div {
    margin: .5em .1em;
}

#reg_form {
    margin: 3em;
    display: none;
}


/* this applies to all divs that have message in them */

.messages {
    text-align: center;
}


/* this code applies to any span that has error class */

.error {
    color: red;
    text-align: center;
}


/* this applies to any element that has class success */

.success {
    color: green;
    text-align: center;
}


/* this applies to the footer element of html */

footer {
    background-color: rgb(27, 4, 43);
    padding: 2em 2em;
}


/* this applies to the div element holding user data */

#savvy_profile {
    border-radius: .5em;
    border: .1em solid rgb(27, 4, 43);
    margin: 2em auto;
}


/* this applies to div that are inside footer */

footer div {
    margin: 1em;
}


/* the navigation for mobile html code */

#nav_mobile {
    padding: auto;
    text-align: right;
    margin: .1em .4em;
    width: 50%;
    /* float: right; */
    position: absolute;
    right: 0em;
    /* border-radius: .6em; */
}

.wrap {
    height: 100vh;
    width: 100%;
    /* background: red; */
    position: fixed;
    z-index: -1000000000000;
}


/* the divs that are in the mobile version of the menu */

#nav_mobile div {
    margin: 0em;
}


/* this works for social media id. or the div that have social medias */

#social_med {
    padding: auto;
    text-align: center;
    font-size: 2em;
}


/* this applies to spans in the social media div */

#social_med span {
    margin: .6em;
}


/* this rules applies to the footer details. */

#footer_details {
    padding: auto;
    text-align: center;
}


/* this applies to spans in the footer details */

#footer_details span {
    justify-content: space-between;
}


/* contact us page */

#contactus {
    border: 2px solid black;
    text-align: left;
    padding-left: 10px;
    width: 80%;
}


/* about us page */

#aboutus {
    border: 2px solid black;
    text-align: left;
    width: 80%;
    padding-left: 10px;
}


/* this rules applies to main page search function. */

#mainp_search_gr {
    margin: 0em auto;
    text-align: center;
}


/* Media query, applies when the screen is less than 576 */

@media ( max-width: 30em) {
    #nav-link-bs {
        /* display: none; */
        font-size: 1em;
    }
    .bar {
        display: flex !important;
        justify-content: space-between;
    }
    .bar #menu_btn {
        display: block;
    }
}